FBI_API_KEY=api_key
STATES=CA,TX,WY,VT #replace with preferred states
API_BASE="https://api.usa.gov/crime/fbi/cde"
MYSQL_HOST=host
MYSQL_USER=mysql_user
MYSQL_PASSWORD=mysql_password
MYSQL_DATABASE=db_name